//
//  echo.xcconfig
//  Noise
//
// Created by Paulo Andrade on 18/10/2018.
// Copyright © 2018 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPPORTED_PLATFORMS = macosx

FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(PROJECT_DIR)/Carthage/Build/Mac
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(PROJECT_DIR)/Carthage/Build/iOS
FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(PROJECT_DIR)/Carthage/Build/iOS

HEADER_SEARCH_PATHS = $(SRCROOT)/Noise-C/include
