//
//  noise-c.xcconfig
//  Noise
//
// Created by Paulo Andrade on 07/09/2018.
// Copyright © 2018 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

USE_SODIUM = 0
USE_OPENSSL = 1

GCC_PREPROCESSOR_DEFINITIONS = USE_SODIUM=$(USE_SODIUM) USE_OPENSSL=$(USE_OPENSSL)

HEADER_SEARCH_PATHS = $(SRCROOT)/Noise-C/include $(SRCROOT)/Noise-C/src/crypto/goldilocks/include $(SRCROOT)/Noise-C/src/crypto/goldilocks/src/include
HEADER_SEARCH_PATHS[sdk=macosx*] = $(inherited) $(SRCROOT)/Dependencies/Mac/include
HEADER_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) $(SRCROOT)/Dependencies/iOS/include
HEADER_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) $(SRCROOT)/Dependencies/iOS/include

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/Noise-C/src $(SRCROOT)/Noise-C/src/crypto/goldilocks/src/include

