//
//  NoiseTests.xcconfig
//  Noise
//
// Created by Paulo Andrade on 19/10/2018.
// Copyright © 2018 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]            = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks $(SRCROOT)/Carthage/Build/Mac
LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*]          = $(inherited) @executable_path/Frameworks @loader_path/Frameworks $(SRCROOT)/Carthage/Build/iOS
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*]   = $(inherited) @executable_path/Frameworks @loader_path/Frameworks $(SRCROOT)/Carthage/Build/iOS
