//
//  Common.xcconfig
//  Noise
//
//  Created by Paulo Andrade on 07/09/2018.
//  Copyright © 2018 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(PROJECT_DIR)/Carthage/Build/Mac
FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(PROJECT_DIR)/Carthage/Build/iOS
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(PROJECT_DIR)/Carthage/Build/iOS


OTHER_LDFLAGS = -framework OpenSSL


HUMAN_VERSION = 0.9.1
BUILD_VERSION = 181024.0
